<div class="close light">&times;</div>

<!-- LEFT: Photo Slide Background -->
<div class="about-photo">
  <div class="bg1"></div>
  <div class="bg2"></div>
</div>

<!-- RIGHT: Me in a nutshell -->
<div class="about-blurb">
  <h1>I WENT FROM RAPPING ON TRACKS TO WORKING ON TRACKS TO JAVASCRIPT AWESOMENESS...</h1>
  <p>
    It's true. I used to be a rapper. I rapped on tracks. Then I became a track worker. I worked on tracks. Then JavaScript happened circa 2015. Did I mention I'm in love with JavaScript? Who says circa anymore...
  </p>

  <p>
    2015 was the year of the bull... that bull being me and the status quo being the china shop. And by china shop I mean NYC's beloved subway system, the MTA. A eutopian place, really, ripe with <em>no</em> reward for good work and <em>no</em> consequence for poor or no work at all. While putting in 25+ years of back-soothing track work at Shangri-La was tempting, I decided to opt for change. Did I mention I'm in love with JavaScript?
  </p>

  <p>
    Prior to and all the while I was at the MTA I was gunning for a career as a Hip-Hop artist. It turned out to be <a href="https://www.youtube.com/watch?v=HTq7EBFWGfU&list=PLj2TkO0tSJ_n15HKKCJLELm0L7sOymz0a&index=2">Total BS</a>. Not bad, actually. Some of the best years of my life. Unfortunately, the body needs things like food, shelter, clothing, etc., and those things cost money. Music is great. Not starving is better. I still love Hip-Hop, but did I mention I'm in love with JavaScript?
  </p>

  <h2>IT WAS TIME FOR A CHANGE...</h2>

  <div class="mono function">
    <div class="function-container">
      <div class="white-space"><span class="aqua">function</span> <span class="lime">changeMyLife</span>(<span class="orange italic">me</span>) {</div>
      <div class="white-space">  <span class="pink">delete</span> me.trackWorker; <span class="gray">// Bye bye.</span></div>
      <div class="white-space"> </div>
      <div class="white-space">  me.hipHopArtist <span class="pink">=</span> <span class="yellow">'woulda been great'</span>;</div>
      <div class="white-space">  me.webDeveloper <span class="pink">=</span> <span class="yellow">'finally found my calling'</span>;</div>
      <div class="white-space"> </div>
      <div class="white-space">  <span class="pink">return</span> me;</div>
      <div class="white-space">}</div>
    </div>
  </div>

  <p>
    February 2015 is when I put my foot down. Then I put the other foot down, just ahead of it. That novel process, among other details, lead to me taking the <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive</a> course at <a href="https://generalassemb.ly/">General Assembly</a>. WDI is a 12-week, full-time, test-you-to-the-core-of-your-soul coding bootcamp. I met JavaScript. My soul won. I'm now part of a (not-so-) secret society of web developers who hack imagination into reality.
  </p>

  <div class="mad-skillz">
    <span>I'm good at </span>
    <div class="skillset"></div>
  </div>

  <p class="center">I think. I design. I code.</p>

  <p class="center">I'm in love with JavaScript.</p>
</div>