<header class="full-size flex centered col">
  <h1 class="relative center">I WENT FROM RAPPING ON TRACKS TO WORKING ON TRACKS TO JAVASCRIPT AWESOMENESS...</h1>
  <div class="angle-down absolute bottom left">
    <span class="pointer">&#9002;</span>
  </div>
</header>

<div class="about-content">
  <div id="tldr" class="flex centered">
    <div class="tldr bold">TL;DR</div>
    <div class="flex col tldr-description">
      <div class="tldr-description">(regular)</div>
      <div class="tldr-description">(JavaScript'y)</div>
    </div>
    <div class="flex col arrows">
      <div class="up">&nbsp;&#8627;</div>
      <div class="down">&nbsp;&#8629;</div>
    </div>
  </div>

  <div class="mono function center">
    <div class="function-container">
      <div class="white-space"><span class="aqua">function</span> <span class="lime">changeMyLife</span>(<span class="orange italic">me</span>) {</div>
      <div class="white-space">  <span class="pink">delete</span> me.trackWorker; <span class="gray">// Bye bye.</span></div>
      <div class="white-space"> </div>
      <div class="white-space">  me.hipHopArtist <span class="pink">=</span> <span class="yellow">'woulda been great'</span>;</div>
      <div class="white-space">  me.webDeveloper <span class="pink">=</span> <span class="yellow">'finally found my calling'</span>;</div>
      <div class="white-space"> </div>
      <div class="white-space">  <span class="pink">return</span> me;</div>
      <div class="white-space">}</div>
    </div>
  </div>

  <div class="about-me">
    <h1>Who Am I?</h1>
    <p>
      <span class="me"></span>
      I'm Aaron! And I'm a <span class="bold yellow">JavaScript</span> developer. Did I mention that I love what I do? You can check out my <a href="/projects">work</a> and see for yourself, but suffice to say that I love building <a href="https://github.com/qodesmith" target="_blank">things</a> for the web. Currently, I'm all-things Front End for the good folks over at <a href="https://www.l2inc.com/" target="_blank">L2</a>, a super-cool company that processes a <span class="italic">lot</span> of data for clients. I build the internal tools that make the L2 world go 'round.
    </p>

    <p>
      Formerly I was passionately pursuing (pronounced "struggling artist") <a href="https://www.youtube.com/watch?v=NI5rplnShGY&index=9&list=PLj2TkO0tSJ_n15HKKCJLELm0L7sOymz0a" target="_blank">Hip-Hop</a> as a career. I wanted to change the world. I still want to change the world, except I'm armed with code now. I started as a producer with a knack for tracks, picked up the art of rhyme as a formidable wordsmith, found my way to full-time employment as a slave to the man on the <a href="http://web.mta.info/maps/submap.html" target="_blank">wrong set of tracks</a>, then #JavaScript. JaaaavvvaaaScccrrriiipppttt! Not that I can't wreck shop on the mic still...
    </p>

    <h1>Skills That Pay Bills <span class="broke">(as opposed to those that don't, like Hip-Hop)</span></h1>
    <p>
      <div class="typed-skills">I'm good at <span class="skillset"></span></div>
      I love a good challenge; I love ironing out the logic behind problems; I love re-organizing, refactoring, and improving... The whole digital landscape is a playground to me. I get paid to play. Doesn't that sound great? It is (bear with me, I'm trying to avoid the cliche of "I'm a <span class="italic">passionate</span> developer").
    </p>

    <p>
      Front-end development takes discipline and... discipline, schmiscipline. I have fun bringing awesome ideas (yours <span class="italic">or</span> mine) to life. I write good, maintainable, sexy code. It has to be sexy. Then comes the UI. That has to be sexy too. Or in the case of this site, nerdy. And <span class="mono">nerdy <span class="pink">===</span> <span class="yellow">'awesome'</span></span>, in case you didn't already know. Plus, I get along well with others, so there's always that.
    </p>

    {{!-- <h1>Tech &amp; Tweaks</h1> --}}

  </div>

</div>
