<div class="contact-container">
  <h1>WHO ARE YOU?</h1>
  <input type="text" class="input name">

  <h1>EMAIL:</h1>
  <input type="text" class="input email">

  <h1>WHAT'S ON YOUR MIND?</h1>
  <textarea class="input message" rows="5"></textarea>

  <div class="submit" tabindex="0">SUBMIT</div>
</div>