<div class="container">
  <form name="contact-form" id="contact-form" action="" method="POST">
    <h2>Who are you?</h2>
    <input type="text" class="name form-field" name="name" required>

    <h2>Email:</h2>
    <input type="email" class="email form-field" name="email" required>

    <h2>What's on your mind?</h2>
    <textarea type="text" name="message" class="message form-field" cols="30" rows="5" required></textarea>

    <input type="submit" id="submit" class="submit" value="Submit">
  </form>
</div>