<input type="text" class="input title" placeholder="title">
<input type="text" class="input image" placeholder="image url">
<input type="text" class="input tags" placeholder="tags">
<textarea class="input content"></textarea>
<div class="create-buttons">
  <div class="button submit">SUBMIT</div>
  <div class="button preview">PREVIEW</div>
</div>