<div class="editor flex col">
  <input type="text" class="input title" placeholder="title">
  <input type="text" class="input image" placeholder="image">
  <input type="text" class="input tags" placeholder="tags">
  <textarea class="input content" placeholder="content"></textarea>
  <div>
    <div class="button save">SAVE</div>
    <div class="button delete">DELETE POST</div>
    <div class="errors italic">error messages here...</div>
  </div>
</div>
<div class="posts flex col">
  <input type="text" class="input search" placeholder="search">
  <div class="posts-list overflow y"></div>
</div>