<div id="menu-heading" class="center">
  <div id="name">Aaron Cordova</div>
  <div id="title">WEB DEVELOPER</div>
</div>

{{!-- Menu will be typed out by `typer` here. --}}
<div id="menu-container"></div>
