<!-- <body class="sans full-size"> -->
  <div id="container" class="flex-centered full-size">
    <div class="my-name center mono show">
      Aaron Cordova
      <div class="phrase light-change">WEB DEVELOPER</div>
    </div>
    <div id="menu-json" class="mono enabled">
      <div class="white-space"><span>{</span></div>
      <div class="white-space">    about: "<a data-view="AboutPageView" href="#" id="menu-about">me</a>",</div>
      <div class="white-space">  awesome: "<a data-view="ProjectsPageView" href="#" id="menu-projects">projects</a>",</div>
      <div class="white-space">   resume: [<a data-view="RegularResumeView" href="#">regular</a>", "<a data-view="AwesomeResumeView" href="#">nerdy</a>"],</div>
      <div class="white-space">      get: "<a data-view="ContactView" href="#" id="menu-contact">in contact</a>"</div>
      <div class="white-space"><span>}</span></div>
    </div>
  </div>
  <!-- <script src="all.min.js"></script> -->
<!-- </body> -->