<div class="hamburger flex centered col between">
  <span class="line line-top"></span>
  <span class="line line-middle"></span>
  <span class="line line-bottom"></span>
</div>

<div class="nav-contents flex col overflow y">
  <div class="nav-item" data-view="AboutView">
    <div class="title">ABOUT ME</div>
    <div class="description"></div>
    {{!-- http://goo.gl/F3kUm4 > "mathematical right angle bracket" --}}
    <div class="description-content">Wordsmith &#10217; double-Tracksmith &#10217; Qodesmith...</div>
  </div>
  <div class="nav-item" data-view="ProjectsView">
    <div class="title">PROJECTS</div>
    <div class="description"></div>
    <div class="description-content">Things I've built that smell awesome...</div>
  </div>
  <div class="nav-item" data-view="BlogView">
    <div class="title">BLOG</div>
    <div class="description"></div>
    <div class="description-content">Nerd alert: JavaScript, audio, theology, & more...</div>
  </div>
  <div class="nav-item" data-view="ContactView">
    <div class="title">CONTACT</div>
    <div class="description"></div>
    <div class="description-content">Cordial communication...</div>
  </div>
</div>