<div class="close dark">&times;</div>

<!-- PROJECTS -->

<div class="project">
  <h1 class="title">Typer.js</h1>
  <div class="description">Automated typing library with sexy syntax and diddly dependencies. JavaScript awesomeness at its finest.</div>
  <div class="options flex-centered">
    <a href="https://github.com/qodesmith/typer" class="github" target="_blank"></a>
    <a href="#" class="demo" data-demo="TyperDemoView">DEMO<span class="triangle"></span></a>
  </div>
</div>

<div class="project">
  <h1 class="title">JAC Sound Factory</h1>
  <div class="description">An MPC-style 16-pad sound sequencer with multiple banks of sounds. Prepare to laugh and be amazed.</div>
  <div class="options flex-centered">
    <a href="https://github.com/qodesmith/JAC-Sound-Factory" class="github" target="_blank"></a>
    <a href="http://jac-sound-factory.herokuapp.com/" class="demo external" target="_blank">DEMO<span class="triangle"></span></a>
  </div>
</div>

<div class="project">
  <h1 class="title">Time Calculator</h1>
  <div class="description">A calculator that can add and subtract times (day:hr:min:sec). Built with a flexbox layout.</div>
  <div class="options flex-centered">
    <a href="https://github.com/qodesmith/time-calculator" class="github" target="_blank"></a>
    <a href="#" class="demo" data-demo="TimeCalcView">DEMO<span class="triangle"></span></a>
  </div>
</div>

<div class="project">
  <h1 class="title">Deck Grid</h1>
  <div class="description">Interactive graph-paper looking layout of my backyard to help me design a wooden deck.</div>
  <div class="options flex-centered">
    <a href="https://github.com/qodesmith/deck-grid" class="github" target="_blank"></a>
    <a href="#" class="demo" data-demo="DeckGridView">DEMO<span class="triangle"></span></a>
  </div>
</div>

<div class="project">
  <h1 class="title">Fullpage Background Gallery</h1>
  <div class="description">Smooth fullpage background gallery for your website with randomization feature.</div>
  <div class="options flex-centered">
    <a href="https://github.com/qodesmith/background-image-gallery" class="github" target="_blank"></a>
    <a href="#" class="demo" data-demo="BackgroundGalleryView">DEMO<span class="triangle"></span></a>
  </div>
</div>