<div class="close dark">&times;</div>
<div class="regular-resume">

  <a class="pdf" href="Aaron_Cordova_resume.pdf" target="_blank">PDF</a>

  {{!-- HEADER --}}
  <header>
    <h1>Aaron Cordova</h1>
    <div class="links">
      <a target="_blank" href="mailto:theqodesmith@gmail.com">theqodesmith@gmail.com</a>
      <div class="separator"></div>
      <a target="_blank" href="tel://1-917-524-7817">917.524.7817</a>
      <div class="separator"></div>
      <a target="_blank" href="http://github.com/qodesmith">github.com/qodesmith</a>
      <div class="separator"></div>
      <a target="_blank" href="http://linkedin.com/in/cordovaaaron">linkedin.com/in/cordovaaaron</a>
    </div>
  </header>

  {{!-- EXPERIENCE --}}
  <section class="experience">
    <h4>Experience</h4>

    {{!-- Accenture --}}
    <div>
      <div><span class="bold">Accenture</span>, New York, NY<span class="date">July 2015 - Present</span></div>
      <div>Front End Developer</div>
      <ul>
        <li>Technology used daily: JavaScript, HTML, CSS, jQuery, LESS, Grunt, GIT</li>
        <li>Creating pixel-perfect responsive web applications from supplied comps (pdf / psd)</li>
        <li>Presenting product demonstrations for our national client audience</li>
        <li>Working in an agile environment with local, national, and global teams</li>
      </ul>
    </div>

    {{!-- General Assembly --}}
    <div>
      <div><span class="bold">General Assembly</span>, New York, NY<span class="date">Sept 2015 - Present</span></div>
      <div>Instructional Associate</div>
      <ul>
        <li>Assist students with lessons, labs, and homework</li>
        <li>Mentor students as a previous WDI grad & successful developer</li>
        <li>Courses as an IA:
          <ul>
            <li><span class="italic">FEWD: Front End Web Development</span> - a 10-week front end part time course</li>
            <li><span class="italic">Programming For Non-Programmers</span> - a weekend intro to programming course</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>

  {{!-- PERSONAL PROJECTS --}}
  <section class="personal-projects">
    <h4>Personal Projects</h4>
    <div class="project">
      <div><span class="bold">Typer.js</span> - <span class="italic">an easy to use, choc-full-of-options, robust automated typing library</span></div>
      <ul>
        <li>Automatically type things on the screen including two styles of an optional cursor</li>
        <li>Various methods allow for real-world typing: back, continue, new line, speed, etc.</li>
        <li>Built completely using vanilla JavaScript (i.e. no jQuery dependency)</li>
        <li>Published as an NPM module</li>
      </ul>
    </div>

    <div class="project">
      <div><span class="bold">JAC Sound Factory</span> - <span class="italic">a sample playback application to record & save compositions</span></div>
      <ul>
        <li>Implemented a sound engine using the Web Audio API</li>
        <li>Built a graphical equalizer as the page background with Canvas.js</li>
        <li>Developed a custom record and playback sequencer with JavaScript</li>
      </ul>
    </div>

    <div class="project">
      <div><span class="bold">Thing-To-HTML</span> - <span class="italic">convert objects and arrays into a collapsible HTML hierarchy</span></div>
      <ul>
        <li>Generates a responsive HTML hierarchy from any JavaScript object or array</li>
        <li>Two CSS themes included: light and dark</li>
        <li>Published as an NPM module</li>
      </ul>
    </div>

    <div class="project">
      <div><span class="bold">Time Calculator</span> - <span class="italic">a calculator that can add and subtract times in the d:h:m:s format</span></div>
      <ul>
        <li>Responsive layout built using Flexbox</li>
        <li>Random numbers & number sizes generated as the background (for an added math touch)</li>
      </ul>
    </div>

    <div class="project">
      <div><span class="bold">Tetris</span> - <span class="italic">a JavaScript version of the original Tetris game</span></div>
    </div>

    <div class="project">
      <div><span class="bold">Background Image Gallery</span> - <span class="italic">smooth full page background gallery for websites with randomization feature</span></div>
    </div>

    <div class="project">
      <div><span class="bold">Deck Grid</span> - <span class="italic">interactive graph-paper looking layout of my backyard to help me design a wooden deck</span></div>
    </div>
  </section>

  {{!-- TECHNICAL SKILLS --}}
  <section class="skills">
    <h4>Technical Skills</h4>
    <div>JavaScript, HTML, CSS, Backbone, Express, Node, Flexbox, LESS, Gulp, jQuery, Handlebars, responsive design, PostgreSQL, GIT, Github, Adobe Photoshop, Wordpress</div>
  </section>

  {{!-- PREVIOUS EXPERIENCE --}}
  <section class="previous-experience">
    <h4>Previous Experience</h4>

    {{!-- Wordpress Designer --}}
    <div class="wordpress">
      <div><span class="bold">Freelance</span>, New York, NY<span class="date">2010 - 2015</span></div>
      <div>Wordpress Designer</div>
      <ul>
        <li>Customized themes with CSS, Adobe Photoshop, and various plugins</li>
        <li>Integrated e-commerce solutions (EDD & WooCommerce) and maintained online stores</li>
        <li>Maintained database and site backups via FTP with CRON jobs</li>
      </ul>
      <div class="clients">Clients:</div>
      <ul>
        <li>In My City Records</li>
        <li>And/With Creative</li>
      </ul>
    </div>

    {{!-- MTA --}}
    <div class="nycta">
      <div><span class="bold">New York City Transit</span>, New York, NY <span class="date">2005 - 2015</span></div>
      <div>Track Worker</div>
    </div>
  </section>

  {{!-- EDUCATION --}}
  <section class="education">
    <h4>Education</h4>

    {{!-- General Assembly --}}
    <div class="bold">General Assembly <span class="date">Feb 2015 - May 2015</span></div>
    <ul>
      <li>12-week Full stack immersive bootcamp program</li>
      <li>Stack: Backbone, Express, Node, PostgreSQL</li>
    </ul>

    {{!-- Cittone --}}
    <div class="bold">Cittone Institute of Technology</div>
    <ul>
      <li>Certificate in Computer Networking and Digital Electronics</li>
    </ul>

    {{!-- IAR --}}
    <div class="bold">Institute of Audio Research</div>
    <ul>
      <li>Diploma in Digital Audio Recording</li>
    </ul>
  </section>
</div>