<div class="example-buttons absolute top right center">
  <div class="left">
    <div>Select Theme:</div>
    <div class="themes">
      <span id="theme-dark" class="color-circle"></span>
      <span id="theme-light" class="color-circle"></span>
    </div>
  </div>
  <div class="right">
    <div class="example-button" id="example-object" data-target="myObject">OBJECT</div>
    <div class="example-button" id="example-array" data-target="myArray">ARRAY</div>
  </div>
  <div class="user-input">
    <div>Paste your own:</div>
    <textarea type="text" id="input"></textarea>
    <div class="example-button" id="submit">SUBMIT</div>
  </div>
</div>

<div id="thing-container" class="full-size"></div>
